body{
    margin: 0 auto;
    color: black;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    }

.invitation{
    margin: 0 auto;
}

h3{
    align-content: center;
    font-size: 40px;
    position: relative;
    top: 200px;
    left: 25%;
    font-family: 'Sacramento', cursive;
    margin: 0px;
    } 

h4{
    align-content: center;
    font-size: 40px;
    position: relative;
    top: 200px;
    left: 30%;
    margin: 0px;
    font-family: 'Sacramento', cursive;
}    

.details{
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    align-content: center;
    font-size: 18px;
    position: relative;
    top: 230px;
    left: 35%;
}  

.link-menu{
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    align-content: center;
    font-size: 18px;
    position: relative;
    top: 250px;
    padding: 1px;
    text-align: center;
   }  

/* Menu */
.menu{
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    position: relative;
    top: 20px;
    left: 2%;
     
}    

h1{
   font-size: 30px;
   font-family: 'Sacramento', cursive;
   margin: 2px;
   }

h2{
   font-size: 28px;
   font-family: 'Sacramento', cursive;
   margin: 2px;
}    
    
p{
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size:20px;
    margin: 2px;
    padding: 2px;
}    

.link-index{
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    align-content: center;
    text-align: center;
    font-size: 18px;
    width: 130px;
    padding: 2px;
    background-color: white;
 
}  

/* ============================================================================ */

@media screen and (max-width: 640px){
    .invitation, .details, .link-menu, .menu, .link-index{
        display: block;
    }

    h3{
        font-size: 25px;
        position: relative;
        top: 220px;
        left: 10%;
        } 
    
    h4{
        font-size: 25px;
        position: relative;
        top: 220px;
        left: 10%;
        }    
    
    .details{
        font-size: 12px;
        position: relative;
        top: 240px;
        left: 20%;
    }  
    
    .link-menu{
        font-size: 12px;
        position: relative;
        top: 250px;
    }  
    
    /* Menu */
    .menu{
        position: relative;
        top: 10px;     
    }    
    
    h1{
       font-size: 20px;
    }
    
    h2{
       font-size: 18px;
    }    
        
    p{
        font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        font-size:14px;
    }    
    
    .link-index{
        font-size: 14px;
    }  
}